
section.hero {

    background-color: #000;
    background-image: 
        url("/images/intro-dust-particles.png"),
        ;
    background-repeat: repeat;
    background-size: cover;

    .wrapper {
        display: flex;
        max-width: 1560px;
        margin: auto;

        background-image: url("/images/scriptonite-bg-text.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        > div {
            width: 50%;
        }

        > .preview {
            position: relative;
            // overflow-y: clip;
            img {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 75%;
                filter: 
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 -2px 28px var(--neon-blue))
                        drop-shadow(0 -2px 28px var(--neon-blue))
                        ;
            }
        }
        .cta-block {
            padding: 60px 200px 140px 120px;

            &_wrapper {
                .flex-wrapper {
                    background: rgba(0, 0, 0, 50%);
                    padding: 20px 40px;
                    border-radius: 5px;

                    .text-block {
                        text-align: center;
                        font-size: 24px;
                        margin-bottom: 30px;
                        line-height: 1.2;
                        h1 {
                            font-weight: 400;
                            font-size: 48px;
                            width: calc(100% + 80px);
                            margin-left: -40px;
                        }
                    }
                    .preview {
                        
                    }
                }
                .cta {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    border: 1px solid #fff;
                    color: #fff;
                    background: var(--neon-blue);
                    border-radius: 5px;
                    box-shadow: 0px 0px 51px  0px var(--neon-blue);
                    margin-top: 30px;
                    font-size: 24px;
                    padding: 15px 0;
                    &:hover {
                        border: 1px solid #fff;
                        box-shadow: 0px 0px 31px  1px #fff;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1258px) {
        .wrapper {
            .cta-block {
                padding: 40px 150px 100px 80px;

            }
        }
    }
    @media only screen and (max-width: 1024px) {
        .wrapper {
            .cta-block {
                padding: 30px 100px 80px 40px;

            }
        }
    }
    @media only screen and (max-width: 768px) {

        overflow: hidden;
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            width: 1021.26px;
            height: 611.69px;
            left: -150.95px;
            top: 114px;
            z-index: 0;
            background: url("/images/scriptonite-bg-text.png") 0 0 repeat;
            background-repeat: no-repeat;
            transform: rotate(63.9deg);
        }
        .wrapper {
            flex-direction: column-reverse;
            background: none; 
            
            > div {
                width: 100%;
            }

            .cta-block {
                padding: 0;
                width: 240px;
                margin: auto;
                position: relative;
                z-index: 1;
                .cta-block_wrapper {
                    .flex-wrapper {
                        .text-block {
                            h1 {
                                font-size: 24px;
                            }
                            font-size: 14px;
                        }
                    }
                    .cta {
                        font-size: 14px;
                    }
                }
            }
            > .preview {
                height: 400px;
                > img {
                    width: 50%;
                    z-index: 0;
                    filter: 
                        brightness(60%)
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 0 1px #fff)
                        drop-shadow(0 -2px 23px var(--neon-blue))
                        drop-shadow(0 -2px 23px var(--neon-blue))
                        ;
                }
            }
        }
    }
    @media only screen and (max-width: 600px) {


        &::before {
            left: -309.95px;
        }

        .wrapper {
            > .preview {
                > img {
                    width: 80%;
                }
            }
        }
    }
}