

section.sub-hero {

    .flex-wrapper {

        position: relative;
    
        display: flex;
        justify-content: space-between;
    
        max-width: 1560px;
        margin: auto;
        margin-bottom: 90px;
    
        > div {
            width: 45%;
        }
        .text-block {
            background: #fff;
            color: #000;
            border-radius: 0 5px 5px 0 ;
            text-transform: uppercase;
            font-size: 64px;
            line-height: 1;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            padding-left: 125px;
        }
        .preview-block {
            > img {
                height: 100%;
                object-fit: cover;
                border-radius: 5px 0 0 5px ;
            }
        }
    
        @media only screen and (max-width: 1258px) {
            flex-direction: column;
    
            > div {
                width: 80%;
            }
            .text-block {
                padding: 40px 0 40px 20%;
                margin-right: auto;
                border-radius: 0 5px 0 0;
            }
            .preview-block {
                margin-left: auto;
                > img {
                    border-radius: 0 0 0 5px;
                }
            }
        }
    
    
        @media only screen and (max-width: 768px) {
            > div {
                width: 100%;
                flex: 1;
            }
            .text-block {
                padding: 40px 0;
                align-items: center;
                border-radius: 0;
            }
            .preview-block {
                > img {
                    border-radius: 0;
                }
            }
        }
        @media only screen and (max-width: 450apx) {
            .text-block {
                font-size: 60px;
            }
        }
    }
}